{% extends '@EasyAdmin/layout.html.twig' %}
{% block main %}
    <h1>EF 316</h1>
    <section class="catalogue">
    {{ include('partials/_transactions.html.twig', { transactions: transactions|default([]) }) }}
    </section>
{% endblock main %}

